<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body>
        <%- include("./partials/nav.ejs")%>
        <div class="container border rounded mt-5 p-5">
            <h1>This is About Page</h1>
            <p class="my-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                error voluptas velit exercitationem ut fugiat, voluptatum
                debitis doloribus laborum modi? Saepe quis ducimus provident
                voluptatem quidem laudantium. Beatae similique ut quis dolor
                optio facilis provident delectus aliquam sapiente itaque,
                nesciunt vel aperiam ratione! Fugiat, vel. Similique voluptas
                aliquid suscipit? Culpa dolorum molestias facere incidunt
                voluptate odio asperiores, ipsam ducimus sint aspernatur iusto
                architecto est soluta libero commodi, saepe eveniet dolore!
            </p>
            <a class="btn btn-primary btn-lg" href="/">Back to Home</a>
        </div>
        <%- include("./partials/footer.ejs")%>
    </body>
</html>
