<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs")%>

    <div class="container border rounded py-5 px-3 mt-5">
        <h2 class=" mb-5">Contact Me</h2>
        <div class="contacts border rounded bg-body-tertiary my-3 p-3">
            <h4><span><img src="images/location.png" alt="location" id="fabicon">Ad</span>dress</h4>
            <p class=" my-auto">
                109/1/3 Balivara Road, 743135, Near Kishore Sangha Club, Naihati, West Bengal, India </p>
        </div>
        <div class="contacts border rounded bg-body-tertiary my-3 p-3">
            <h4><span><img src="images/phone.png" alt="phone" id="fabicon"></span>Phone</h4>
            <p class=" my-auto">
                +91 7044417695 <br> +91 9903329990 </p>
        </div>
        <div class="contacts border rounded bg-body-tertiary my-3 p-3">
            <h4><span><img src="images/mail.png" alt="mail" id="fabicon"></span>Email</h4>
            <p class=" my-auto">
                atanupaul2411@gmail.com </p>
        </div>
        <a class="btn btn-lg btn-primary" href="/">Back to Home</a>
    </div>

    <%- include("./partials/footer.ejs")%>
</body>
</html>