<!DOCTYPE html>
<html lang="en">
    <!-- head -->
    <%- include("./partials/head.ejs")%>
    <body>
        <!-- nav  -->
        <%- include("./partials/nav.ejs")%>
        <div class="container border rounded my-5 p-5">
            <h1>Hello, Everyone!</h1>

            <p class="my-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque
                deleniti quas cum quisquam esse dolores? Non accusamus laborum
                minima repudiandae iusto voluptas, debitis necessitatibus
                exercitationem hic voluptatem tenetur ratione sit eaque labore
                neque corporis atque enim incidunt, voluptatibus, natus ullam
                itaque. Id accusantium magni delectus quibusdam iure in
                aspernatur itaque.
            </p>
            <a class="btn btn-primary btn-lg my-2 my-2" href="#"> Login</a>

            <a class="btn btn-primary btn-lg" href="#">Create Account</a>
        </div>

        <!-- footer  -->
        <%- include("./partials/footer.ejs")%>
    </body>
</html>
